In [1]:
import pandas as pd

In [4]:
mydf = pd.read_csv('C:\\Users\\ajaym\\Desktop\\iris\\artifacts\\data_ingestion\\Iris.csv')

In [6]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [1]:
from  sklearn import  datasets
iris=datasets.load_iris()

In [2]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [6]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [1]:
list = ['a', 'b', 'c', 'a', 'c', 'b', 'a', 'b', 'b']

In [2]:
list

['a', 'b', 'c', 'a', 'c', 'b', 'a', 'b', 'b']

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le = LabelEncoder()

In [5]:
x = le.fit_transform(list)

In [6]:
x

array([0, 1, 2, 0, 2, 1, 0, 1, 1], dtype=int64)

In [7]:
list

['a', 'b', 'c', 'a', 'c', 'b', 'a', 'b', 'b']

In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('C:\\Users\\ajaym\\Desktop\\iris\\artifacts\\data_ingestion\\Iris.csv')

In [7]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
data.drop('Id', axis = 1, inplace=True)

In [6]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [13]:
test.head(2)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
99,100,5.7,2.8,4.1,1.3,Iris-versicolor
24,25,4.8,3.4,1.9,0.2,Iris-setosa

In [21]:
train_X = train.drop(columns='Species', axis = 1)

In [22]:
train_X.head(2)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
113  114            5.7           2.5            5.0           2.0
72    73            6.3           2.5            4.9           1.5

In [23]:
train_Y = train[['Species']]

In [24]:
train_Y

             Species
113   Iris-virginica
72   Iris-versicolor

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
std = StandardScaler()

In [27]:
train_X = std.fit_transform(train_X)

In [29]:
train_X = pd.DataFrame(train_X)

In [30]:
train_X.head(2)

          0         1         2         3         4
0  0.902154 -0.151685 -1.399416  0.750909  1.070410
1 -0.038298  0.592348 -1.399416  0.694312  0.424473

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le = LabelEncoder()

In [33]:
train_Y = le.fit_transform(train_Y)

c:\Users\ajaym\Desktop\iris\venv\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [38]:
train_Y = pd.DataFrame(train_Y)

In [39]:
train_Y.head(2)

   0
0  2
1  1

In [40]:
train_X.head(2)

          0         1         2         3         4
0  0.902154 -0.151685 -1.399416  0.750909  1.070410
1 -0.038298  0.592348 -1.399416  0.694312  0.424473

In [43]:
transformed_train = pd.concat([train_X, train_Y], axis = 1)

In [44]:
transformed_train

            0         1         2         3         4  0
0    0.902154 -0.151685 -1.399416  0.750909  1.070410  2
1   -0.038298  0.592348 -1.399416  0.694312  0.424473  1
2   -1.689824 -0.895719  0.929479 -1.286550 -1.254963  0
3   -0.703496 -1.019725  0.929479 -1.173358 -0.738213  0
4    0.282832  1.088371 -0.002079  0.581120  0.424473  1
..        ...       ...       ...       ...       ... ..
107 -1.299881 -0.895719  0.929479 -1.286550 -1.125776  0
108 -1.643949 -1.391742  0.230810 -1.343146 -1.254963  0
109  0.948030  0.716354  0.230810  0.920697  1.457972  2
110  0.672776  0.592348 -0.467858  1.090485  0.812035  2
111  1.315036  2.576438  1.628147  1.543253  1.070410  2

[112 rows x 6 columns]

In [47]:
train_X.head(5)

          0         1         2         3         4
0  0.902154 -0.151685 -1.399416  0.750909  1.070410
1 -0.038298  0.592348 -1.399416  0.694312  0.424473
2 -1.689824 -0.895719  0.929479 -1.286550 -1.254963
3 -0.703496 -1.019725  0.929479 -1.173358 -0.738213
4  0.282832  1.088371 -0.002079  0.581120  0.424473

In [48]:
train_X.tail(5)

            0         1         2         3         4
107 -1.299881 -0.895719  0.929479 -1.286550 -1.125776
108 -1.643949 -1.391742  0.230810 -1.343146 -1.254963
109  0.948030  0.716354  0.230810  0.920697  1.457972
110  0.672776  0.592348 -0.467858  1.090485  0.812035
111  1.315036  2.576438  1.628147  1.543253  1.070410

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
data.drop(columns='Id', axis = 1, inplace=True)

In [5]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
x = data.drop(columns='Species')

In [7]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [8]:
y = data[['Species']]

In [9]:
y.head()

       Species
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [12]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120, 1), (30, 1))

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
en = LabelEncoder()

In [20]:
y_train = en.fit_transform(y_train)

c:\Users\ajaym\Desktop\iris\venv\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
y_train = pd.DataFrame(y_train)

In [24]:
y_train.head()

   0
0  2
1  0
2  2
3  1
4  2

In [25]:
y_test = en.transform(y_test)

c:\Users\ajaym\Desktop\iris\venv\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [26]:
y_test = pd.DataFrame(y_test)

In [27]:
y_test.head()

   0
0  1
1  2
2  0
3  1
4  2

In [32]:
from sklearn.preprocessing import StandardScaler

In [33]:
st = StandardScaler()

In [34]:
X_train = st.fit_transform(X_train)

In [35]:
X_train = pd.DataFrame(X_train)

In [36]:
X_train.head()

          0         1         2         3
0  1.001782 -1.282085  1.155930  0.827059
1 -0.933250  1.804416 -1.053936 -1.048054
2 -0.328552 -0.569816  0.645961  1.094932
3  0.638964 -0.332393  0.305981  0.157376
4  0.638964 -0.569816  1.042603  1.228869

In [37]:
X_test = st.transform(X_test)

In [38]:
X_test = pd.DataFrame(X_test)

In [39]:
X_test.head()

          0         1         2         3
0 -1.175129 -1.519509 -0.260651 -0.244434
1 -0.086673 -0.807239  0.759287  0.960996
2 -0.207613  3.228956 -1.280589 -1.048054
3 -0.207613 -0.094969  0.249318  0.023439
4  0.638964 -0.807239  0.872613  0.960996

In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import mlflow
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import os

In [5]:
# performing the below commands in the terminal doesn't work instead we use OS package as shown below:

os.environ['MLFLOW_TRACKING_URI'] = "https://dagshub.com/augustin7766/IrisFlowerClassification_with_MLflow.mlflow"
os.environ['MLFLOW_TRACKING_USERNAME'] = 'augustin7766'
os.environ['MLFLOW_TRACKING_PASSWORD'] = '8a01ee4bec043666cf3ced22edc7d308526b4b42'

In [8]:
def fun():
    
    data = pd.read_csv('C:\\Users\\ajaym\\Desktop\\iris\\artifacts\\data_ingestion\\Iris.csv')

    x = data.drop(columns='Species')

    y = data[['Species']]

    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

    en = LabelEncoder()

    y_train = en.fit_transform(y_train)

    y_train = pd.DataFrame(y_train)

    y_test = en.transform(y_test)

    y_test = pd.DataFrame(y_test)

    st = StandardScaler()

    X_train = st.fit_transform(X_train)

    X_train = pd.DataFrame(X_train)

    X_test = st.transform(X_test)

    X_test = pd.DataFrame(X_test)

    # training the model

    classifier = KNeighborsClassifier(n_neighbors=3)

    classifier.fit(X_train, y_train)

    # testing the model

    mlflow.set_tracking_uri("https://dagshub.com/augustin7766/IrisFlowerClassification_with_MLflow.mlflow")

    mlflow.set_experiment("/fourth_exp")

    with mlflow.start_run():
        y_pred = classifier.predict(X_test)
        
        score = accuracy_score(y_test, y_pred)

        mlflow.log_metric("score", score)

    return score

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [9]:
fun()

2024/02/27 19:42:15 INFO mlflow.tracking.fluent: Experiment with name '/fourth_exp' does not exist. Creating a new experiment.

1.0