In [1]:
import pandas as pd

In [4]:
mydf = pd.read_csv('C:\\Users\\ajaym\\Desktop\\iris\\artifacts\\data_ingestion\\Iris.csv')

In [6]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [1]:
from  sklearn import  datasets
iris=datasets.load_iris()

In [2]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [6]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [1]:
list = ['a', 'b', 'c', 'a', 'c', 'b', 'a', 'b', 'b']

In [2]:
list

['a', 'b', 'c', 'a', 'c', 'b', 'a', 'b', 'b']

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le = LabelEncoder()

In [5]:
x = le.fit_transform(list)

In [6]:
x

array([0, 1, 2, 0, 2, 1, 0, 1, 1], dtype=int64)

In [7]:
list

['a', 'b', 'c', 'a', 'c', 'b', 'a', 'b', 'b']

In [9]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv('C:\\Users\\ajaym\\Desktop\\iris\\artifacts\\data_ingestion\\Iris.csv')

In [20]:
train, test = train_test_split(data)

In [11]:
train.shape, test.shape

((112, 6), (38, 6))

In [12]:
train.head(2)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
89,90,5.5,2.5,4.0,1.3,Iris-versicolor
26,27,5.0,3.4,1.6,0.4,Iris-setosa

In [13]:
test.head(2)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
99,100,5.7,2.8,4.1,1.3,Iris-versicolor
24,25,4.8,3.4,1.9,0.2,Iris-setosa

In [21]:
train_X = train.drop(columns='Species', axis = 1)

In [22]:
train_X.head(2)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
113  114            5.7           2.5            5.0           2.0
72    73            6.3           2.5            4.9           1.5

In [23]:
train_Y = train[['Species']]

In [24]:
train_Y

             Species
113   Iris-virginica
72   Iris-versicolor

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
std = StandardScaler()

In [27]:
train_X = std.fit_transform(train_X)

In [29]:
train_X = pd.DataFrame(train_X)

In [30]:
train_X.head(2)

          0         1         2         3         4
0  0.902154 -0.151685 -1.399416  0.750909  1.070410
1 -0.038298  0.592348 -1.399416  0.694312  0.424473

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le = LabelEncoder()

In [33]:
train_Y = le.fit_transform(train_Y)

c:\Users\ajaym\Desktop\iris\venv\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [38]:
train_Y = pd.DataFrame(train_Y)

In [39]:
train_Y.head(2)

   0
0  2
1  1

In [40]:
train_X.head(2)

          0         1         2         3         4
0  0.902154 -0.151685 -1.399416  0.750909  1.070410
1 -0.038298  0.592348 -1.399416  0.694312  0.424473

In [43]:
transformed_train = pd.concat([train_X, train_Y], axis = 1)

In [44]:
transformed_train

            0         1         2         3         4  0
0    0.902154 -0.151685 -1.399416  0.750909  1.070410  2
1   -0.038298  0.592348 -1.399416  0.694312  0.424473  1
2   -1.689824 -0.895719  0.929479 -1.286550 -1.254963  0
3   -0.703496 -1.019725  0.929479 -1.173358 -0.738213  0
4    0.282832  1.088371 -0.002079  0.581120  0.424473  1
..        ...       ...       ...       ...       ... ..
107 -1.299881 -0.895719  0.929479 -1.286550 -1.125776  0
108 -1.643949 -1.391742  0.230810 -1.343146 -1.254963  0
109  0.948030  0.716354  0.230810  0.920697  1.457972  2
110  0.672776  0.592348 -0.467858  1.090485  0.812035  2
111  1.315036  2.576438  1.628147  1.543253  1.070410  2

[112 rows x 6 columns]

In [47]:
train_X.head(5)

          0         1         2         3         4
0  0.902154 -0.151685 -1.399416  0.750909  1.070410
1 -0.038298  0.592348 -1.399416  0.694312  0.424473
2 -1.689824 -0.895719  0.929479 -1.286550 -1.254963
3 -0.703496 -1.019725  0.929479 -1.173358 -0.738213
4  0.282832  1.088371 -0.002079  0.581120  0.424473

In [48]:
train_X.tail(5)

            0         1         2         3         4
107 -1.299881 -0.895719  0.929479 -1.286550 -1.125776
108 -1.643949 -1.391742  0.230810 -1.343146 -1.254963
109  0.948030  0.716354  0.230810  0.920697  1.457972
110  0.672776  0.592348 -0.467858  1.090485  0.812035
111  1.315036  2.576438  1.628147  1.543253  1.070410